<ul class="nav nav-pills  nav-stacked" role="tablist">
	<li class="<%= 'active' if controller_name=="imports" %>">
	  	<%= link_to insert_imports_path do%>
	  		人工数据导入
	  	<% end %>
  	</li>
	<li class="<%= 'active' if controller_name=="setting"&&action_name=="query" %>">
	  	<%=	link_to setting_query_path do %>
	  		原始数据查询
	  	<% end %>
  	</li>
	<li class="<%= 'active' if params[:category]=='water' %>">
	  	<%=	link_to setting_index_path(:category=>'water') do %>
	  		建筑属性管理
	  	<% end %>
  	</li>
	<li class="<%= 'active' if params[:category]=='gas' %>">
	  	<%=	link_to setting_index_path(:category=>'gas') do %>
	  		用户管理
	  	<% end %>
  	</li>
  
</ul>