<ul class="nav nav-pills  nav-stacked" role="tablist">
	<li class="<%= 'active' if controller_name=="imports" %>">
	  	<%= link_to insert_imports_path do%>
	  		人工数据导入
	  	<% end %>
  	</li>
	<li class="<%= 'active' if controller_name=="setting"&&action_name=="query" %>">
	  	<%=	link_to setting_query_path do %>
	  		原始数据查询
	  	<% end %>
  	</li>
	<li class="<%= 'active' if controller_name=="builds" %>">
	  	<%=	link_to builds_index_path do %>
	  		建筑属性管理
	  	<% end %>
  	</li>
	<li class="<%= 'active' if controller_name=="users"&&action_name=="index" %>">
	  	<%=	link_to users_index_path do %>
	  		用户管理
	  	<% end %>
  	</li>
  
</ul>