<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class="<%= 'active' if controller_name=='home'%>">
          <a href="/">能耗总览</a></li>        
        <li class="<%= 'active' if controller_name=='monitor'%>">
          <a href="/monitor">运行监测</a></li>       
        <li class="<%= 'active' if controller_name=='energy'%>">
          <a href="/energy">能耗分析</a></li>        
        <li class="<%= 'active' if controller_name=='efficiency'%>">
          <a href="/efficiency">能效分析</a></li>         
        <li class="<%= 'active' if controller_name=='diagnosis_optimization'%>">
          <a href="/diagnosis_optimization">诊断优化</a></li>
        <li class="<%= 'active' if controller_name=='notice'%>">
          <a href="/notice">告警事件</a></li>  
        <li class="<%= 'active' if controller_name=='setting'||controller_name=='imports'%>">
          <a href="/setting">系统工具</a></li>
      </ul>

      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-admin" data-toggle="dropdown">管理员 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>